import classnames from 'classnames';
import type { JSX } from 'preact';

import type { PresentationalProps } from '../../types';
import { downcastRef } from '../../util/typing';

type ComponentProps = {
  size?: 'sm' | 'md' | 'lg';
  variant?: 'primary' | 'secondary';
};

type HTMLAttributes = Omit<JSX.HTMLAttributes<HTMLElement>, 'size'>;

export type {{name}}Props = PresentationalProps & ComponentProps & HTMLAttributes;

/**
 * TODO
 */
export default function {{name}}({
  children,
  classes,
  elementRef,

  size = 'md',
  variant = 'secondary',

  ...htmlAttributes
}: {{name}}Props) {
  return (
    <div
      data-component="{{name}}"
      {...htmlAttributes}
      ref={downcastRef(elementRef)}
      className={classnames(
        'border',
        {
          'bg-slate-0 text-color-text': variant === 'secondary', // default
          'bg-grey-7 text-color-text-inverted': variant === 'primary',
        },
        {
          'p-3': size === 'md', // default
          'p-2': size === 'sm',
          'p-4': size === 'lg',
        },
        classes
      )}
    >
      {children}
    </div>
  );
}
