// Base rhythm units for layout and spacing (margins, padding)
$space: 1rem;
$space--xxs: $space * (1/4);
$space--xs: $space * (1/2);
$space--s: $space * (3/4);
$space--m: $space;
$space--l: $space * 2;
$space--xl: $space * 4;
