@use 'normalize.css/normalize';
@use '../mixins/reset';

input,
textarea,
button,
select {
  @include reset.reset-font;
  line-height: normal;
  margin: 0;
}

ul,
ol,
dl,
dd,
dt,
li {
  @include reset.reset-box-model;
}

ul,
ol {
  list-style: none;
}

blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
}
