@use 'normalize.css/normalize';
@use '../mixins/reset';

input,
textarea,
button,
select {
  @include reset.reset-font;
  line-height: normal;
  margin: 0;
}

ul,
ol,
dl,
dd,
dt,
li {
  @include reset.reset-box-model;
}

ul,
ol {
  list-style: none;
}

blockquote {
  margin: 0;
}
