@use 'normalize.css/normalize';

// This is a temporary stand-in until we get a typography layer
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: $sans-font-family;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}
