@use '../../variables' as var;

@use '../atoms';
@use '../layout';
@use '../themes';

@use 'molecules';

$-color-brand: var.$color-brand;

/**
 * A panel is a card that adds an optional header and/or close button positioning.
 * Panels using an icon-only button as a close button should use the `--closeable`
 * modifier.
 */
@mixin panel {
  @include molecules.card;

  @include themes.theme('clean') {
    // Cards won't have borders in the clean theme, but in the case of panels,
    // we want some borders for delineation
    @include atoms.border;
  }

  & > header,
  &__header {
    @include layout.row($align: center);
    @include layout.horizontal-spacing;
    @include atoms.border(bottom);
    padding-bottom: var.space();
  }

  &__title {
    // TODO Replace with appropriate mixin once typography layer established
    font-size: 1.1em;
    color: $-color-brand;
    font-weight: 600;
    line-height: 1;
    flex-grow: 1;
  }

  // When there is an icon-only close button, tighten up affordances around the
  // header as the button will have more height than the heading text. This has the
  // effect of making the vertical space around the header look more even.
  &--closeable > header,
  &--closeable &__header {
    padding-bottom: var.space(2);
    margin-top: -1 * var.space(3);
  }

  &--closeable > header &__close,
  &--closeable > &__header &__close {
    // TODO replace font-sizing with appropriate approach when typography layer
    // available.
    // This also right-aligns the edge of the close icon with the right edge
    // of the bottom border using a negative right margin.
    font-size: 1.375em;
    margin-right: -1 * var.space(4);
  }

  &__content {
    @include layout.vertical-spacing;
  }

  &__actions {
    @include molecules.actions;
  }
}
